.pricing-plan-btn {
    background: linear-gradient(180deg,#11cc38,#05aa4e)
}

.bg-transition-inactive {
    opacity: 0;
    transition: 1s
}

.bg-transition-active {
    opacity: 1;
    transition: .5s
}

.hide-scroll-bar {
    -ms-overflow-style: none
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none
}

.discount-badge-wrapper {
    background: transparent;
    border-radius: 40px;
    overflow: hidden;
    padding: 1px;
    position: relative
}

.glow {
    animation: rotate 3s linear infinite;
    background: radial-gradient(#fff,#f1f5f9,transparent);
    transform-origin: bottom center
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.price-drawer input[type=checkbox],.price-drawer input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    border: 1.25px solid #000;
    cursor: pointer;
    height: 20px;
    min-width: 20px;
    position: relative;
    width: 20px
}

.price-drawer input[type=radio] {
    border-radius: 50%
}

.price-drawer input[type=checkbox] {
    border-radius: 6px
}

.price-drawer input[type=checkbox]:checked,.price-drawer input[type=radio]:checked {
    border: 1px solid #635bff
}

.price-drawer input[type=checkbox]:checked:after,.price-drawer input[type=radio]:checked:after {
    background-color: #635bff;
    content: "";
    height: 12px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 12px
}

.price-drawer input[type=radio]:checked:after {
    border-radius: 50%
}

.price-drawer input[type=checkbox]:checked:after {
    border-radius: 3px
}

.addonList {
    scrollbar-color: #cecccc #fff;
    scrollbar-width: thin
}

.addonList::-webkit-scrollbar-thumb {
    scrollbar-color: #cecccc
}
